@model IEnumerable<STAR.Domain.Contractor>
<h2>Dashboard</h2>

@section scripts {
<script type="text/javascript">
  

    $(function (){
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetSkills")'
        });
    });
</script>
}

@using (Html.BeginForm()) {
    <label>Skills: </label> @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
}

@if(Model != null){
    @Html.Partial("ContractorListPartial", Model)
}