<h2>Dashboard</h2>

@section scripts {
<script type="text/javascript">
    $(function (){
        $("#txtSearch").autocomplete({
            source: '@Url.Action("Index", "Skill")'
        });

        $("#search").on("click", function () {
            $.get('@Url.Action("Index", "Contractor")', { searchTerm: $("#txtSearch").val() })
                .done(function (contractors) {
                    $("#results").html(contractors);
                });
        });
    });
</script>
}

<div>
    <label for="txtSearch">Skills: </label> @Html.TextBox("searchTerm", null, new { id = "txtSearch", @class="form-control" })
    <button id="search">Search</button>
</div>

<div id="results"></div>