@model IEnumerable<STAR.Domain.Contractor>
<h2>Dashboard</h2>

@section scripts {
<script type="text/javascript">
  

    $(function (){
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetSkills")'
        });
    });
</script>
}

<label>Contractors by Skill:</label>
@using (Html.BeginForm()) {
    @Html.TextBox("searchTerm", null, new { id = "txtSearch", @class="form-control", placeholder="Search"})
}
<br />
@if(Model != null){
    @Html.Partial("ContractorListPartial", Model)
}