/* Site colors 
    light-gray = color: #d7d5d5; (placeholder)
    orange = color: #ff6a00;  (used for hover on icon links or emphasis)
    yellow = color:#ffd800; 
*/

/* GLOBAL */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Colors **********************************/
.yellow{
    color:#ffd800; 
}


/* Inputs **********************************/
input[type="checkbox"]{
    position:relative;
    top:2px;
}

.form-control::-webkit-input-placeholder {color: #d7d5d5;}  /* chrome; safari; opera */
.form-control::-moz-placeholder {color: #d7d5d5;}  /* firefox 19 ++ */
.form-control:-moz-placeholder {color: #d7d5d5;}  /* firefox 18 - */
.form-control:-ms-input-placeholder { color: #d7d5d5;}  /* ie */

/* Formatting Text *************************/
.margin-left{
    margin-left: 10px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-left-20{
    margin-left: 20px;
}

.margin-right{
    margin-right: 10px;
}
.margin-right-5{
    margin-left: 5px;
}
.margin-right-15{
    margin-left: 15px;
}
.margin-right-20{
    margin-right: 20px;
}

.margin-top{
    margin-top: 10px;
}
.margin-top-5{
    margin-top: 5px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}

.margin-bottom{
    margin-bottom: 10px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.text-center{
    text-align:center;
}

.pointer{
    cursor:pointer;
}

.quick-view{
    cursor:pointer;
}
    .quick-view:hover{
        color: #ff6a00;
    }
