@model IEnumerable<Skill>

<h2>Skills</h2>

<a href="@Url.Action("Details")" class="btn btn-primary">
    Create New
    <span class="glyphicon glyphicon-plus"></span>
</a>

@if ((Model ?? new Skill[] { }).Any())
{
    <p>There are @Model.Count() Skilll</p>
}
else
{
    <p>There are no skills!  @Html.ActionLink("Add one!", "Details")</p>
}