<<<<<<< d8c6ed75b6fc07b369ea52f4feef9ff4443afc55
﻿@* Skill already exists page*@
@{
    ViewBag.Title = "SkillExists";





}

@*Skills exists title*@
<h2>That skill already exists</h2>











@*Action Link*@
@Html.ActionLink("Go To Skills List", "Index")

=======
﻿
@{
    ViewBag.Title = "SkillExists";
}

<h2>SkillExists</h2>

@Html.ActionLink("Go to Skills", "Index")
>>>>>>> skill Uniqueness Fix
