<<<<<<< HEAD
<<<<<<< d8c6ed75b6fc07b369ea52f4feef9ff4443afc55
﻿@* Skill already exists page*@
@{
    ViewBag.Title = "SkillExists";





}

@*Skills exists title*@
<h2>That skill already exists</h2>











@*Action Link*@
@Html.ActionLink("Go To Skills List", "Index")

=======
=======
>>>>>>> b5c55afd1ec0c37495f990af6baf97206613ee55
﻿
@{
    ViewBag.Title = "SkillExists";
}

<h2>Skill Already Exists</h2> 

<<<<<<< HEAD
@Html.ActionLink("Go to Skills", "Index")
>>>>>>> skill Uniqueness Fix
=======
@Html.ActionLink("Go to Skills", "Index")
>>>>>>> b5c55afd1ec0c37495f990af6baf97206613ee55
