@* Skill already exists page*@
@{
    ViewBag.Title = "SkillExists";





}

@*Skills exists title*@
<h2>That skill already exists</h2>











@*Action Link*@
@Html.ActionLink("Go To Skills List", "Index")

