@model IEnumerable<STAR.Domain.Contractor>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@section scripts {
    <script type="text/javascript">


    $(function (){
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetSkills")'
        });
    });
    </script>
}
First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>

<label>Contractor Search: </label>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })

}

@if (Model != null)
{
    @Html.Partial("ContractorListPartial", Model)
}