@model IEnumerable<STAR.Domain.Contractor>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@section scripts {
    <script type="text/javascript">


    $(function (){
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetSkills")'
        });
    });
    </script>
}
<label>First name: <input type="text" name="fname"></label>
<br>
  <label>Last name: <input type="text" name="lname"></label>
<br>
<br>

<label>Skills Search: </label>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })

}

@if (Model != null)
{
    @Html.Partial("ContractorSkillListPartial", Model)
}

<div id="buttons">
    <button id="savebutton" onclick="window.location"skills.cshtml">SAVE</button>
    <button id="cancelbutton">CANCEL</button>
</div>